[Desktop Entry]
Encoding=UTF-8
Name=Link to mapping_default.launch
Type=Link
URL=https://github.com/JanezCim/Neato-XV-11-Hector-SLAM/blob/master/mapping_default.launch
Icon=text-html
